@use "../../scss/" as *;

.trailerModal {
  @include flex(center, center);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba($color: $black, $alpha: 0.8);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    @include flex(center, center);
    padding: 2rem;
    background-color: black;
    width: 80%;
    height: 80%;
    opacity: 0;
    transform: translateY(-250px);
    transition: transform 0.6s ease, opacity 0.6s ease;
    border-radius: 10px;
    position: relative;
    
    @include tablet {
        width: 80%;
    }
  
    &_close{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 13px;
      right: -25px;
      bottom: -25px;
      background-color: transparent;
      border: 3px solid $white;
      border-radius: 50%;
      font-size: 10rem;
      cursor: pointer;
      opacity: 0;
      transition: all 0.3s ease;
      color: $white;
      font-size: 20rem;

      &.active {
        opacity: 1;
      }

      &:hover {
        // background-color: $btn-oppacity;
        background-color: $white;
        box-shadow: 0 0 10px 0 $main-color, 0 0 10px 4px $main-color;
        border: 3px solid $white;
        color: $main-color;
      }

    }
  }

  .youtube-container {
    height: 100%;
    width: 100%;
  }
  .message-noTrailer {
    font-size: 40rem;
  }

  &.active &__content {
    opacity: 1;
    transform: translateY(0);
  }
}

