@use "../../scss/" as *;

.homeHero {

  width: 100%;
  height: 100vh;
  @include tablet {
    height: 70vh;
  }
  @include mobile {
    height: 100vh;
  }
  

  &__item {


    &__content{
    
      @include tablet {
        max-width: calc(100% - 140px);
        margin: 0 auto;
      }
      @include mobile {
        max-width: calc(100% - 50px);
        margin: 0 auto;
      }

      &__background {
        position: absolute;
        display: flex;
        width: 82%;
        height: 713px;
        top: 20px;
        right: 0;
        background-size: cover;
        background-position: center;
        box-shadow: $box-shadow-container;
        z-index: -1;
        @include tablet {
          width: 100%;
          height: 70vh;
          top: 0;
          right: 0;
          box-shadow: $box-shadow-containerV2;
          opacity: 0.8;
        }
        @include mobile {
          box-shadow: $box-shadow-containerV3;
          border-radius: 11%;
        }
      }
      &__info {
        @include flex(start, end);
        flex-direction: column;
        height: 100vh;
        // padding: 90px 0;
        padding-bottom: 90px;
        max-width: 512px;

        @include tablet {
          // min-width: 258px;
          /* padding: 85px 0; */
          padding-bottom: 25%;
          max-width: 512px;
          height: 70vh;
        }
        @include mobile {
          @include flex(center, end);
          padding-bottom: 90px;
          height: 100vh;
          // width: 100%;
          // min-width: 258px;
        }

      }

    }

    &__datas {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 20rem;
      margin-bottom: 15px;
      text-shadow: $txt-shadow;

      @include tablet {
        font-size: 35rem;
      }
      @include mobile {
        font-size: 35rem;
      }

      & .data__star {
        display: flex;
        align-items: center;
        & > span {
          color: $main-color;
        }
      }
      // &.data__num {

      // }
      & .data__category {
        padding: 4px 6px;
        background-color: $main-color;
        font-size: 13rem;
        border-radius: 7px;
        text-shadow: none;
        @include tablet {
          font-size: 24rem;
          box-shadow: $box-shadow;
        }
        @include mobile {
          padding: 5px 10px;
          font-size: 28rem;
        }
      }
    }

    &__texts {

      & .data__title {
        font-size: 32rem;
        font-weight: 600;
        margin-bottom: 15px;
        @include tablet {
          font-size: 46rem;
          text-shadow: $txt-shadow;
        }
        @include mobile {
          font-size: 50rem;
          text-align: center;
        }
      }
      & .data__overview {
        font-size: 20rem;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 17px;

        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @include tablet {
          font-size: 28rem;
          -webkit-line-clamp: 5;
          text-shadow: $txt-shadow;
        }
        @include mobile {
          display: none;
        }

      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 17px;

      & .playTrailer__button {
        display: flex;
        align-items: center;
        padding: 12px 12px;
        gap: 5px;
        background-color: $main-color;
        border: none;
        border-radius: 8px;
        color: $white;
        font-size: 14rem;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

        // box-shadow: 5px 7px 32px 0px rgba(0,0,0,0.83);
        &:hover {
          background-color: $btn-oppacity;
        }
        @include tablet {
          font-size: 27rem;
          padding: 13.5px 13.5px;
          box-shadow: $box-shadow;
        }
        @include mobile {
          font-size: 30rem;
          padding: 15px 12px;
        }

        &__icon {
          font-size: 15rem;
          @include tablet {
            font-size: 35rem;
          }
          @include mobile {
            font-size: 35rem;
          }
        }

      }
      & .goDetails__button {
        display: flex;
        align-items: center;
        padding: 8.5px 12px;
        gap: 5px;
        background-color: $btn-gray;
        border: none;
        border-radius: 8px;
        color: $white;
        font-size: 14rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background-color: $btn-oppacity-gray
        }
        @include tablet {
          font-size: 27rem;
          padding: 13.5px 13.5px;
          box-shadow: $box-shadow;
        }
        @include mobile {
          font-size: 30rem;
          padding: 13.5px 13.5px;
        }

        &__icon {
          font-size: 15rem;
          @include tablet {
            font-size: 34rem;
          }
          @include mobile {
            font-size: 40rem;
          }
        }

        &__text {
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}