@use "../../scss/" as *;

.pageHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mobile {
      justify-content: start;
    }
    .text {
      font-size: 30rem;
      letter-spacing: 1rem;

      @include tablet {
        font-size: 40rem;
      }
      @include mobile {
        font-size: 45rem;
      }
    }
  }
  &__btn {

    .button {
      display: flex;
      align-items: center;
      gap: 3px;
      padding: 8px 10px;
      background-color: $main-color;
      border: none;
      border-radius: 11px;
      color: $white;
      cursor: pointer;
      white-space: nowrap;
      transition: color 0.3s ease, background-color 0.3s ease;

      @include tablet {
      }
      @include mobile {
        justify-content: center;
      }
    }
    .button:hover {
      color: gray;
      background-color: $btn-oppacity;
    }

    .button-icon{
      font-size: 20rem;
      @include tablet {
        font-size: 40rem;
      }
      @include mobile {
        font-size: 50rem;
      }
    }
    .button-text {
      font-size: 16rem;
      text-transform: uppercase;
      @include tablet {
        font-size: 28rem;
      }
      @include mobile {
        display: none;
      }
    }
  }
}