/* BurgerButton */
.BurgerButton{
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.BurgerButton span{
  background-color:#fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.BurgerButton span:nth-child(1){
  top:0px;
  left: 0px;
}
.BurgerButton span:nth-child(2){
  top:13px;
  left: 0px;
  opacity:1;
}
.BurgerButton span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.BurgerButton:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.BurgerButton:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.BurgerButton:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.BurgerButton.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.BurgerButton.open span:nth-child(2){
  opacity:0;
}
.BurgerButton.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}