$body-bg: #03020A;
$main-color: #E13C2F;
$second-color: #9D0000;
$btn-oppacity: #9D0000;
$btn-gray: #333333;
$btn-oppacity-gray: #1d1c1c;
$txt-color: #fff;
$txt-shadow: 4px 4px 2px rgba(0,0,0,0.6);

$white: #fff;
$black: #000;

$box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
$box-shadow-container: 200px -200px 400px -21px rgb(0, 0, 0) inset;
$box-shadow-containerV2: 1px -91px 41px -19px rgba(0,0,0,0.85) inset;
$box-shadow-containerV3: 1px -62px 33px -19px rgba(0,0,0,0.8) inset;

// $header-height: 8rem;
// $header-shrink-height: 5rem;
$border-radius: 7px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Ubuntu', sans-serif;
